[submodule "leona-mvc-client"]
	path = leona-mvc-client
	url = https://github.com/leona-framework/leona-mvc.git
[submodule "leona-mvc-app-flow"]
	path = leona-mvc-app-flow
	url = https://github.com/leona-framework/leona-mvc.git
[submodule "leona-mvc-components"]
	path = leona-mvc-components
	url = https://github.com/leona-framework/leona-mvc.git
[submodule "leona-mvc-services"]
	path = leona-mvc-services
	url = https://github.com/leona-framework/leona-mvc.git
